@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Itim', cursive;
}

  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .flex-centered {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .app-container {
    min-height: 100dvh;
  }

  .app-container2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100dvh - 50px);
  }
 

  .header-container {
    background-color: whitesmoke;
    max-height: 60px;
    position: fixed;
    z-index: 100;
    top: -2px;
    width: 100%;
    color:black;

  }

  .logo {
    margin-left: 80%;
    margin-top: 10%;
  }

  .logo-logged {
    margin-left: 30%;
  }


  .menu {
    position: fixed;
    background-color:rgb(238, 242, 245);
    align-items:center;
    top: 1px;
    min-height: 150px;
    width: 12rem;
    border-bottom-right-radius: 10px;
  }

  .menu form {
    max-width: 145px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.5rem;
  }
    
  label {
    height: 35px;
    font-weight: 600;
  }

  .input {
    font-size: 1.2rem;
    max-width: 9rem ;
    color:black;
 
  }
  .input-container{
    position: relative;
  }

  .search-icon {
    position: absolute;
    color: rgb(100, 96, 96);
    left:92%;
    top: 10px;
    font-size: 1.7rem;
  }

  .menu .menu-bars {
    margin-left: 200%;
  }

  .menu-bars {
    margin-left: .5rem;
    font-size: 2rem;

  }

  .basket-items {
    position: absolute;
    top: 3rem;
    right: 3rem;
    background-color:#d1d5d8;
    min-width: 10rem;
    border-radius: 10px;
    max-width: 20rem;
  }

  .number-of-books {
    position: absolute;
    background-color: red;
    font-weight: 900;
    right: 1.5rem;
    border-radius: 50%;
    top: 2.4rem;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
  }
  span {
    font-size: .8rem;
  }

  .proceed-btn {
    width: 100%;
  }


  .user-main{
    min-height: 100dvh;
  }

  .user-photo {
    width: 150px;
    height: 150px;
  }

  .user-photo img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    
  }

  .user-details {
    width: 20rem;
    height: 35rem;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    border: 1px solid grey;
    background-color: whitesmoke;
  }

  .user-buttons {
    min-width: 100%;
    text-align: left;
  }

  .user-details ul {
    max-width: 100px;
  }

  .user-details-item {
    border-bottom: 1px dashed rgb(178, 175, 175);
    min-width: 80%;
    margin-top: 5px;
    text-align: left;
    margin-left: 10px;
  }

  .orders {
    width: 60rem;
    height: 35rem;
    border-radius: 20px;
    overflow-y: scroll;
    border: 1px solid grey;
    background-color: whitesmoke;
  }

  .orders-item-image {
    width: 100px;
    height: 120px;
  }

  .orders-item-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  .orders-table {
    width: 100%;
  }
  
  .orders-table th {
    vertical-align:top;
    width: calc(100% / 7);

  }
 
  .user-books-container {
    flex-wrap: wrap;
  }

  .user-books-container .book-card {
    width: 10rem;
    position: relative;
    color:white;
    margin: 2rem;
  }

  .user-books-container .card-body {
    display: none;
  }

  .orders ul {
    border-bottom: 2px solid black;
  }

  .edit-details form{
    background-color: white;
  }

  .image {
    width: 100%;
    background-image: url('./images/books3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    height: 400px;
  }



  .search-container {
    background-color:rgba(52, 50, 50, 0.262);
    width: 100%;
    height: 100%;
  }

  .search-container .input {
    min-width: 30rem ;
    height: 3rem;
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(239, 235, 235);
  }

  .search-container label {
    font-size: 30px;
    color: white;
    margin: 10px auto;
    background-color:#101111;
    padding-inline: 10px;
    border-radius: 5px;
  }

  .nav-element {
    font-size: 1.3rem;
    font-weight: 500;
    color:black;
    text-decoration: none;
  }

  .nav {
    margin-right: 1rem;
  }

  .nav-element:hover{
    color: rgb(28, 132, 176);
  }

  .nav-list {
    align-items: flex-end;
    margin-bottom: 0;

  }

  .books-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 110rem;
    margin: auto;
    background-color: rgb(245, 245, 245);
  }


  .card-container {
    min-height: 14rem;
    max-height: 14rem;
    width: 160px;
    margin: 1.2rem;

  }
 

  .card-image {
    width: 100%;
    height: 13rem;
    object-fit: contain;
  }

  .book-card {
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 40px 40px !important;
    min-height: 100%;
    position: relative;
    color:white;
    padding: 10px;

  }
  .card-title {
    font-size: .9rem !important;
  }


  .card-body {
    position: absolute;
    height: calc(100% - 20px);
    width: calc(100% - 20px) ;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: .9rem;
    overflow: hidden;
  }

  .book-card:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  .book-details-container {
    color: white;
    position: fixed;
    width: 60%;
    height: calc(100dvh - 60px);
    background-color:#1E1E1E ;
    border-radius: 10px;
    z-index: 100;
    padding: 20px 0 20px 0;
    top: 50px;
    left: 20%;
    overflow-y: scroll;
  }

  .book-details-container::-webkit-scrollbar {
    width: 0;
  }

  .book-details-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .close-book-details-container{
    min-width: 100%;
    min-height: 100dvh;
    position: fixed;
    z-index: 99;
    top: 1%;
    right: 0.5%;

  }

  .book-details-inner-container {
    background-color:#5bccf6;
    
  }

  .book-details-image-container {
    margin-top: auto;
    margin-bottom: 10px;

  }


  .book-details-and-image-container {
  display: flex;
  justify-content: baseline;
  /* border: solid red; */
  width: 90%;
  margin-left: auto;

} 

.title-container {
  width: 60%;
}

.price-container {
    max-width: 300px;
    }

  .textarea {
    width: 60%;
    min-height: 100px;
    border-radius: 10px;
    background-color: rgb(224, 220, 220);
    padding: 10px;
  }

  .comment {
    color: black;
    border: .5px solid white;
    border-radius: 10px;
    padding: 5px;
    margin-top: 5px;
    background-color: rgb(224, 220, 220);
    width: 50%;
  }

  .review-name {
    font-weight: 600;
    font-size: large;
  }

  
  .border-radius {
    border-radius:20px;
    /* background-color: whitesmoke; */
  }

  .border-bottom-h {
    border-bottom: 1px solid rgb(167, 163, 163);
  }

  .basket:hover, .menu-bars:hover, .logo:hover, .my-profile:hover, .logo-logged:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .checkout {
    min-height: 75dvh;
  }
  .checkout-list {
    min-height: 20rem;
    border: 2px solid rgba(0, 21, 36, .5);
    box-shadow: 0 10px 25px 0 rgba(7, 175, 236, 0.15), 0 3px 7px 0 rgb(0 0 0 / 15%);
    border-radius:20px;
    margin: auto;
    margin-top: 10%;
    max-width: 40%;
  }

  .checkout-title {
    max-width: 60%;
  }

  .checkout-item{
    border-bottom: 1px solid black;
    padding: 5px;
  }

  .quantity-price-container {
    min-width: 11rem;
    max-width: 11rem;
  }

  .pay-button {
    margin-left: 70%;
    min-width: 150px;
  }


  .list {
    min-width: 100%;
    text-align: center;
    font-size: large;
    height: 50%;

  }

  .image-and-details {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .close-icon {
    font-size: 1.5rem;
    margin-left: 90%;
  }

  .signUp-form {
    max-width: 450px;
    margin:20px auto;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid grey;
    background-color: whitesmoke;
  }

  .log-out:hover, .user-buttons:hover {
    border: 1px solid rgb(75, 77, 75);
    border-radius:5px;
  }

  .signUp {
    min-height: 86dvh;
  }

  .login {
    min-height: 86dvh;
    margin-top: 3%;
  }

  h1, .login h3 {
    text-align: center;
    max-width: 400px;
    font-size: 2rem;
    margin: auto;
    margin-top: 80px !important;
  }

  .alert {
    width: 500px;
  }

  ul {
    width: 100%;
    list-style: none;
    padding-top: 10px;
    padding: 10px;

  }
  
  .list-element {
    box-shadow: 0 10px 25px 0 rgb(0 0 0 / 15%), 0 3px 7px 0 rgb(0 0 0 / 15%);
    max-width: 60%;
    border-radius: 10px;
    margin: auto;
    font-size: larger;
    font-weight: 600;
  
  }

  .removeItem {
    height: 100%;

  }

  .button {
    margin: 5px;
  }

  .buttons-container {
    display: flex;
    justify-content: flex-end;

  }

  .checkbox {
    height: .9em;
    width: .9em;
  }

  .hide {
    display: none;
  }

  .footer {
    height: 50px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    border-top: 1px solid rgb(186, 180, 180);
  }

  .footer-header {
    max-width: 200px;
    color: black;
    margin: auto;
    padding-top: 10px;
    font-size: 1.2rem;
    text-align: center;
  }

  @media screen and (max-width: 1210px ) {
    .pay-button {
      margin-left: 60%;
      min-width: 120px;
    }

    .checkout-list {
      min-width: 50%;
      border: solid red;
    }
  }

  @media screen and (max-width: 900px ) {
    .pay-button {
      margin-left: 20%;
    }

    .book-details-container {
      width: 90%;
      left: 5%;
    }

    .book-description, .review-container {
      padding: 0px;
      margin-inline: 2px;
    }

    .user-main  {
      flex-wrap: wrap;
      width: 95%;
      margin-left: auto;
      margin-right: auto;
    }

    .user-details {
      height: auto;
      border: none;
      margin-top: 60px;
      width: 100%;
    }

    .image-and-details {
      justify-content: center;
      align-items:baseline;
      flex-direction: row;
    }   

    .list {
      min-width: 50%;
    }

    .user-photo {
      margin-top: auto;
      margin-bottom: 5%;
    } 

    .orders {
      border: none;
    }

    .checkout-list {
      min-width: 60%;
    }

    .checkout-title {
      max-width: 55%;

    }
  }

  @media screen and (max-width: 700px) {
      .search-container #input  {
        display: block;
        min-width: 350px !important;
      }
      .image {
        background-image: url('./images/books-small.jpg')
      }

    .orders {
      min-height: 100%;
      box-shadow: none;
      overflow-y: scroll;
    }

    .orders-item-image {
      max-width: 80px;
      max-height: 100px;
    }
    .orders-table {
      font-size: .9rem;
      max-width: 100%;
    }

    .orders-table thead th {
      font-size: 1rem ;
    }

    .checkout-list {
      min-width: 80%;
    }


  }

  @media screen and (max-width: 620px ) {
    .pay-button {
      margin-left: 10%;

    }

    .checkout-list {
      min-width: 90%;
    }

    .book-details-and-image-container {
      flex-direction: column;
    }

    .book-details-image-container {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
    }


    .comment-form {
      min-width: 200px;
      margin-left: 1px !important;
    }

    .textarea {
      width: 100%;
    }

    .book-details-container {
      width: 100%;
      left: 0%;
    }

     .quantity {
      display: none;
    }
  }

  @media screen and (max-width: 510px) {
    .list {
      min-width: 100%;
    } 

    .image-and-details {
      flex-wrap: wrap;
    }
  }


      @media screen and (max-width: 450px) {
        .logo {
          margin-left: 20%;
        }

        .card-container {
          min-height: 12rem;
          max-height: 12rem;
          max-width: 9rem;
        }   
        .card-image {
          height: 12rem;
        }
        }